<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Multer NodeJs</title>
    <link rel="stylesheet" href="{{url}}css/semantic.min.css"/>
    <script src="{{url}}js/jquery.min.js"></script>
    <script src="{{url}}js/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css">
  </head>
  <body ng-app="home" ng-controller="homeCtrl">
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
        <a class="active item" href="{{url}}">
          Carga de archivos
        </a>
        <div class="right menu">
          <a class="item" href="{{url}}about">
            Sobre la app
          </a>
          <a class="item" ng-show="{{usuario}}" ng-click="btnCierra()">
            <i class="sign out alternate icon"></i>
            Cerrar sesion
          </a>
         </div>
      </div>
    </div>
    {{{body}}}
  </body>
  <script src="{{url}}js/build.js"></script>
  <script src="{{url}}js/socket.io.js"></script>
</html>
